@import "variables.scss";

*{
	box-sizing: border-box;
	font-family: Verdana, sans-serif;
}
.container{
	max-width: 1300px;
	margin: 0 auto;
}
a{
	text-decoration: none;
	color: white;
}
/**** clearfix ****/

.clearfix{
	&:after{
		content:'';
		display: block;
		clear: both;
	}
}

/**** Logo ***/
.logo{
	max-width: 108px;
	position: absolute;
	img{
		width: 100%;
	}
}
@media (min-width: 1040px){
	.logo{
		max-width: 124px;
	}

}
/***** Nav- bar *******/

.main-nav{
	float: right;
	// opacity: 0;
	// visibility: hidden;
	display: none;
	margin: 50px 20px 0 0;
	ul{
		list-style: none;
		li{
			font-size: 24px;
			margin-bottom: .5em;
		}
	}
}

@media (min-width: 580px) and (max-width: 767px) and (orientation: landscape), 
       (min-width: 768px) and (max-width: 1039px){
    .main-nav{
		margin: 10px;
     li{
        float: left;
        margin-left: 18px;
    	}
	}
}
@media (min-width: 1040px){
    .btn-nav{
        display: none;
    }
    .main-nav{
        // opacity: 1;
        // visibility: visible;
		display: block;
		margin-right: 110px;
		margin-top: 0;
		li{
			float: left;
			 margin:15px;
		}
    }
}
/******** Nav button ***********/
.btn-nav{
	float: right;
	height: 50px;
	width: 50px;
	margin: 15px;
	border: 0;
	background: none;
	&:focus{
		outline: none;
	}

	span{
		display: block;
		border: 0;
		width: 40px;
		height: 8px;
		border-radius: 5px;
		background-color: white;
		position: relative;
		transition: all 0.5s ease;

		&:after,&:before{
			    content: "";
				display: block;
				width: 40px;
				height: 8px;
				background-color: white;
				position: absolute;
				border-radius: 5px;
		}

		&:after{
			top: 16px;
		}

		&:before{
			top: -16px;
		}
	}
	&.open{
		&+ .main-nav{
			opacity: 1;
			visibility: visible;
			display: block;

		}

		span{
			transform: rotate(45deg);
			&:before{
				opacity: 0;
			}
			&:after{
				top:0px;
				transform: rotate(-90deg);
			}
		}
	}

}

.main-hdr{
	background: url(../img/background.jpg);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	
	
}


// #header{
// 	background: url(../img/background.jpg);
// 	background-position: 50% 50%;
// 	background-repeat: no-repeat;
// 	height: 405px;
// 	position: relative;
// 	&-background{
// 		background: linear-gradient(rgba(0,0,0, 0.5), transparent);
// 		height: inherit;
// 		// position: absolute;
// 			&:after{
// 				content: "";
// 				clear: both;
// 				display: table;
// 			}
// 	}
// }

// /****** Promo box ******/
// .promo-container{
// 	display: flex;
// 	flex-direction: row;
// 	left: 200px;
// 	position: absolute;
// 	border: 1px solid black;
// 	flex-wrap: wrap-reverse;
// 	top: 210px;
// 	max-width: inherit;

// 	justify-content: space-between;


// }
// #promo-image{
// 	width: 226px;
// 	height: 204px;

// }
// .promo-text{
// 	color: white;
// 	text-align: center;
// 	h1{
// 		font-size: 20px;
// 	}
// 	p{
// 		font-size: 14px;
// 	}
// }

